body {
    background-color: crimson;
    text-align: center;
    padding: 0;
    margin: 0;
}

.header {
    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(5, 5, 61);
    font-family: 'Coiny', cursive;
}

li{
    padding: 10px;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    /*font-family: 'Indie Flower', cursive;*/
    color: aliceblue;
    cursor: pointer;
    list-style-type: none;    
    
}
.user_responce{
    padding: 20px;
}






